body {
    
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

summary {
    font-size: 18px;
    padding: 0 20px 0 0px;
    text-align: left;

}

details summary::-webkit-details-marker {
    display: none;
}

.MainPage {
    width: 100%;
}

.NavigationBar {
    height: 60px;
    background-color: gray;
    margin-bottom: 0px;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    margin: 0;
}

.TabButton
{
    height: 100%;
    display: block;
    float: left;
    font-size: xx-large;
    padding: 8px;
    margin: 0px;
    border: none;
    background-color: gray;
}

.TabButton.Selected
{
    background: white;
    
}

.MainHeadline {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

p {
    display: flex;
    font-size: 18px;
}

.TabBody {
    display: none;
}

.TabBody.Selected {
    display: block;
    background-color: #fff;
    margin: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
    height: 100%;
    width: calc(100% - 1rem)
    
}

.ContentArea {
    background-color: #fff;
    /*padding: 100px;
    margin-top: px;  */
    margin: 0;
    padding: 15px;
}

#hero_area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProjectsArea {
    border-radius: 5px;
    background-color: bisque;
    padding: 0 4px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 2px;
}

.Project {
    width: 98%;
    background: inherit;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.ProjectTitle {
    text-align: center;
}

.ProjectTitle::after {
    display: block;
    width: 65%;
    margin-left: 17.5%;
    height: 2px;
    content: " ";
    clear: both;
    background-color: black;
}

.ProjectDescription {
    float: left;
    padding-left: 4px;
    width: 100%;
    margin-top: 20px;
}

.ProjectDescription p {
    padding-right: 1rem;
    padding-left: 0;
    text-align: justify;
}

.ProjectImageSpan {
    float: right;
    padding: 4px;
    width: 100%;
    overflow: hidden;
    margin-right: 15px;
}

.ProjectImageSpan>img {
    width: 100%;
    padding: 4px;
    height: auto;
}

li {
    display: inline;
    text-decoration: none;
    padding: 30px;
}

.HeroImage {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ArticleArea
{
    overflow: visible;
    position: relative;
    height: auto;
    display: flex;
    clear: both;
}

.TechnologyArea,
.LinksArea {
    float: left;
    width: 50%;
    color: black;

}
.fa-pagelines,
.fa-github-square {
    padding: 10px;
    margin: -7px;
  
}
.fa-js,
.fa-css3-alt,
.fa-html5 {
    display: inline-block;         
}
a {
    color: black;
}
a:hover {
    color: red;
}
.ContactInfo {
    clear: both;
    
}

.ContactInfoImage {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    display: block;  
}
address span {
    display: block;
}
.TechnologyArea  {
    text-align: center ;
    color: black;
}

.TechnologyArea ul {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

.LinksArea a {
    display: inline-block;
    margin-right: 1rem;
}

@media only screen and (min-width: 1200px) {
    .ProjectDescription{

        width: 40%;
    }
    .ProjectImageSpan{
        width: 47%
    }
 }

/*large screens, desktops */
@media only screen and (min-width: 1200px) {
    .ProjectDescription{

        width: 40%;
    }
    .ProjectImageSpan{
        width: 47%
    }

/* Ipads (orientation landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .ArticleArea {
        height: auto;
        display: flex;
    }
    .TechnologyArea ul li {
        padding: 30px 5px 0 5px;
    }
}





